main {
  margin: 10vh auto;
}

/* THIS IS FOR HEADER */

header {
  margin: 10vh;
  text-align: center;
  font-size: 1.25em;
}

/* THIS IS FOR THE MAIN SECTION OF PAGE */

main ul {
  margin: 2vh 5vw;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main li {
  position: relative;
  width: 375px;
  height: 225px;
  margin: 2vw;
}

main ul img {
  border: solid #5F5B6B 5px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
}

main ul div {
  position: absolute;
  border: solid #5F5B6B 5px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s;
  background-color: #5F5B6B;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

main ul div:hover {
  opacity: 1;
}
