
/* THIS IS FOR THE HEADER */

header {
  padding-top: 5vh;
  background: #C1BDB3 url("../img/background_hero.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

header img {
  border-radius: 50%;
  margin: 10vw 10vw 0;
  width: 200px;
}

header h1 {
  color: #323031;
  border-radius: 35%;
  margin: 0 10vw;
}

header p {
  color: #323031;
  font-weight: bold;
  border-radius: 35%;
  margin: 0 10vw;
}


/* THIS IS FOR PICTURE ID IN BODY - TREES*/

#picture {
  height: 110vh;
  background: url("../img/second_image.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


/* THIS IS FOR MAIN */

main > section {
  padding: 5vw;
  line-height: 2em;
}

#quotes {
  padding-bottom: 10vw;
}


#quotes h1, #quotes h2 {
  text-align: center;
}

#quotes p {
  font-style: italic;
}

#quotes p::first-letter {
  font-size: 2em;
}


#quotes p::after {
  content: '-- Bob Ross';
}
