/* THIS IS FOR THE WHOLE PAGE */

body {
  background-color: #C1BDB3;
}


/* THIS IS FOR THE TOP NAVIGATION BAR */

nav {
  background-color: #5F5B6B;
  color: #C1BDB3;
  position: fixed;
  top: 0;
  width: 100vw;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  width: 10vw;
}

nav li a {
  color: #C1BDB3;
  font-weight: bold;
  text-decoration: none;
  padding: 1vw;
}

nav li:first-child {
  width: 60vw;
}

nav li a:hover {
  color: #5F3B6B;
  background-color: #C1BDB3;
}



/* This is for the Footer */


footer {
  background-color: #5F5B6B;
  color: #C1BDB3;
  bottom: 0;
  position: fixed;
  width: 100vw;
  height: 10vw;
  display: flex;
  justify-content: space-between;
}

footer p {
  margin: 1.5vw;
}
